@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li style="color:white; width:230px">
            Hello, @User.Identity.Name
        </li>
    </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-danger" value="Log Off" />
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}


